*{
    margin: 0px;
    padding: 0px;
}
body{
    background: hsl(221, 100%, 96%);
    width: 100%;
}
.container{
   width: 70%;
   margin: 100px auto;
   background: white;
   box-shadow: 5px 5px 5px white ;
   display: flex;
}
.result{
    padding: 20px;
    width: 50%;
     border-radius: 10px;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}
.result h2{
    text-align: center;
    color: hsl(221, 100%, 96%);
}
.circle{
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
}
.circle p{
    font-size: 15px;
    font-weight: lighter;
    color: hsl(241, 100%, 89%);
}
.circle h2{
    font-size: 50px;
}
.great p{
    text-align: center;
    padding: 20px;
    color: hsl(241, 100%, 89%);
}
.summary{
    margin: 10px;
    padding: 10px;
}
.summary h2{
    color: hsl(224, 30%, 27%) ;
}
 .reaction{
width: 200px;
background: hsl(0, 33%, 93%);
padding: 20px;
border-radius: 5px;
margin-top: 10px;
display: flex;
justify-content: space-between;
}
.memory{
    width:  200px;
    background: hsl(39, 52%, 82%);
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
justify-content: space-between;
}
.verbal{
    width:  200px;
    background: hsl(166, 31%, 78%);
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px; 
    display: flex;
justify-content: space-between;
}
.visual{
    width:  200px;
    background:hsl(234, 49%, 74%);
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
justify-content: space-between;
}
#marks1,#marks2,#marks3{
    color:darkblue;
}
#name1{
    color: red;
}
#name2{
    color: orange;
}
#name3{
    color: green;
}
#name4{
    color: blue;
}
 button{
    background:hsl(224, 30%, 27%)  ;
    color:white ;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    border: none;
}
button:hover{
    background:  hsl(241, 81%, 54%);
}
@media only screen and (max-width : 760px){
.container{
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
}
.result{
    width: 100%;
}
.summary{
    margin: 10px;
    width: 100%;
}
.result{
    border-radius: 0px 0px 30px 30px;
}
button{
    width: 100%;
}
.reaction,.memory,.verbal,.visual{
    width: 90%;
}
}